{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset Complete - ProjectPro{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body text-center">
                        <h4 class="card-title"><i class="bi bi-check2-circle"></i> Password Reset Complete</h4>
                        <p class="card-text">
                            Your password has been successfully reset. You can now log in with your new password.
                        </p>
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            <i class="bi bi-box-arrow-in-right"></i> Go to Login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
